<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<nav style="background-color: #fff">
    <div class="nav-wrapper" style="margin-left: 40px;">
        <!--        <a href="#" class="brand-logo"></a>-->
        <ul id="nav-mobile">
            <li class="black-font">SubIT 新账户注册</li>
        </ul>
    </div>
</nav>
<div style="display: flex;justify-content: center;align-items: center;">
    <div class="row" style="margin-top: 100px;">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><strong>账户注册验证</strong></span>
                    <p><strong>尊敬的SubIT用户，您好！</strong></p>
                    <p>您正在注册一个新的账户。</p>
                    <br/>
                    <p>请点击下面的按钮对邮箱进行验证（有效期10分钟）</p>
                </div>
                <div class="card-action" style="text-align: right">
                    <a style="background-color: #0071d4;color:white; padding: 10px;border-radius: 5px; text-underline: none;margin-top:10px;"
                       href="${url}"
                       id="validate">
                        验证我的账户
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
